* {
    background-color: rgb(31, 164, 236);
}

#prueba {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

img {
    width: 30%;
    height: 300px;
    margin: 0 auto;
}
